@font-face {
    font-family: sokcho;
    src: url(SokchoBadaDotum.ttf);
}

html{
    background-color: rgb(158, 212, 248);
}

h1 {
    font-family: sokcho;
    font-size: 90px;
    color: white;
    margin: 200px auto 0;
    text-align: center;
}